<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.myhandbook">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MenuActivity"/>
        <activity android:name=".HeadacheActivity"/>
        <activity android:name=".HeadtypesActivity"/>
        <activity android:name=".headtypes_first"/>
        <activity android:name=".headtypes_second"/>
        <activity android:name=".headtypes_third"/>
        <activity android:name=".headtypes_fourth"/>
        <activity android:name=".headtypes_fifth"/>
        <activity android:name=".headtypes_sixth"/>
        <activity android:name=".headtypes_seventh"/>
        <activity android:name=".headtypes_eighth"/>
        <activity android:name=".ThroatActivity"/>
        <activity android:name=".StomachActivity"/>
        <activity android:name=".throatTypes"/>
        <activity android:name=".throattypes_first"/>
        <activity android:name=".throattypes_second"/>
        <activity android:name=".throattypes_third"/>
        <activity android:name=".throattypes_fourth"/>
        <activity android:name=".throattypes_fifth"/>
        <activity android:name=".stomachTypes"/>
        <activity android:name=".stomachAches"/>
        <activity android:name=".first_stomach_ache"/>
        <activity android:name=".second_stomach_ache"/>
        <activity android:name=".third_stomach_ache"/>
        <activity android:name=".fourth_stomach_ache"/>
        <activity android:name=".fifth_stomach_ache"/>
        <activity android:name=".sixth_stomach_ache"/>
        <activity android:name=".stomachSymptoms"/>
        <activity android:name=".stomachVariety"/>
        <activity android:name=".stomachRepair"/>
        <activity android:name=".BoneAcheActivity"/>
        <activity android:name=".BoneAche_reasons"/>
        <activity android:name=".BoneAche_character"/>
        <activity android:name=".first_bone_character"/>
        <activity android:name=".second_bone_character"/>
        <activity android:name=".third_bone_character"/>
        <activity android:name=".BoneAche_healing"/>
    </application>

</manifest>